@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    background-image: url("bgPortfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    text-align: center;
    width: 600px;
    height: 1200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(29, 45, 89);
}

.nomeMenu {
    text-align: center;
    margin-top: 1px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

.minhaFoto {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgb(64, 64, 64);
}

.resumo {
    font-family: 'Work Sans', sans-serif;
    margin-left: 1px;

}

.habilidades {
    text-align: left;
    font-size: 25px;
}

.lista1 {
    text-align: left;
}

#iconHTML {
    color: rgb(225, 0, 0);
}
#iconCSS {
    color: rgb(0, 102, 255);
}
#iconJS {
    color: rgb(231, 199, 16);
}
#iconPS {
    color: rgb(0, 0, 187);
}
#iconGIT {
    color: rgb(120, 0, 0);
}

#botaoFoto {
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgb(29, 45, 89);
    background-color: #F1AA8C;
    border-color: rgba(0, 0, 0, 0.516);
    margin-left: 1px;
    padding: 0px 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
    cursor: pointer;
    
}

#botaoLink {
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgb(29, 45, 89);
    background-color: #F1AA8C;
    border-color: rgba(0, 0, 0, 0.51);
    margin-left: 100px;
    padding: 0px 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
    cursor: pointer;
}

